body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

* {
  font-family: Arial, Helvetica, sans-serif
}

#popup-download {
  position: relative;
  display:flex;
  flex-direction: column;
  top: 10px;
  left: 10px;
  width: 300px;
  justify-content: center;
  align-items: center;
  background: FloralWhite;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 10;
}
#popup-download h2 {
  margin-top: 0;
  text-align: center;
}
#close-popup-download {
  position: absolute;
  right: 2px;
  top: 2px;
  cursor: pointer;
}
#download-button {
z-index: 90; 
padding: 15px;
background-color: #007bff;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}
#download-progress {
  margin-top: 5px;
}

.popup-content {
  display:flex;
  position:relative;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  margin:0;
  padding:0;
  box-sizing: border-box;
  width: auto;
  min-width: 200px;
}
.enlarged > *:not(.popup-image) {
  display: none;
}

/* angepasste Darstellung für Handy */
@media screen and (max-width: 600px) {
  .popup-content audio {
    width: 100%;
    height: 40px;
  }
  .popup-content audio::-webkit-media-controls-panel {
    width: 100%;
    height: 40px;
  }
  .popup-content audio::-webkit-media-controls-volume-slider {
    display: none;
  }
}

.popup-image {
align-self: flex-start;
border-radius: 10px;
position: relative;
left:0;
top: 0;
cursor:zoom-in;
z-index: 5;
}

/* Styles for navigation buttons */
.prev-button, .next-button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.prev-button:hover, .next-button:hover {
  transform: scale(1.5); /* Slightly increase size on hover */
}

/* Styles for SVG */
.prev-button svg, .next-button svg {
  width: 24px;
  height: 24px;
}

.image-description {
position:relative;
bottom: 40px;
background: rgba(0, 0, 0, 0.5);
color: white;
font-size: 14px;
padding: 0;
z-index: 7;         
}

.image-photographer {
position:relative;
top: -50px;
margin-bottom: -40px;
color: black;
font-size: 9px;        
}

.marker-image {
  border-radius: 50%;
  border: 3.5px solid #98da00;
  cursor: pointer;
}

.moreinfo-button {
  cursor: pointer;
  position: relative;
  background-color: #219b21;
  color: white;
  border-radius: 10px;
  width: 60%;
  margin-bottom: 2px;
}

.welcome-text {
height: 200px;
width: auto;
display: flex;
overflow-y: scroll;
text-align: left;
border: 1px solid #ccc; 
padding: 10px; 
}

/* Standard Popupdarstellung wird modifiziert */
.maplibregl-popup-content {
  background: none; 
  box-shadow: none; 
  padding: 0; 
}

.maplibregl-popup-tip {
  display: none; 
}

.maplibregl-popup-close-button {
position: absolute;
top: 0px;
right: 0px;
background: none;
color: grey;
border-radius: 10px;
cursor: pointer;
padding:2px;
font-size: 14px;
}
